.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
}

.gitLink {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: #9DBA93;
}