.cardContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
}

.cardImage {
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.bottomCard {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemSpecifics {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

.addtoCartContainer {
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

#quantity {}

.addToCartBtn {
    width: 130px;
}