.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1200px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}