.headerContainer {
    height: 100px;
    background-color: rgb(150, 194, 186);
    padding: 1rem;
    width: 100vw;
}

.contentContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    max-width: 1000px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}