@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cartContainer {
    color: #acbba7;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    background-image: url('../assets/foliage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.innerCartContainer {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.663);
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.heading {
    font-size: 2rem;
}

.emptyCartText {
    font-size: 1.25rem;
    font-style: italic;
    padding-bottom: 2rem;
}

.total {
    font-size: 1.25rem;
    font-weight: bold;
}